/build/
/app/build/
.gradle/
local.properties
.DS_Store
.idea/
*.iml
*.hprof
*.log
*.tmp
*.bak
*.swp
.gradle/

.cmake
CMakeFiles/
CMakeCache.txt
*.cmake

*.ttf

*.apk
*.ap_ *.dex
*.class
*.jar
*.so
*.keystore
*.jks

obj/
libs/
.externalNativeBuild/

*.pch
*.obj
*.lib
*.a
*.ilk
*.pdb
*.exp
*.idb
*.manifest
*.suo
*.natvis
*.o
*.d
*.dSYM
*.so

.vscode/
.vscode/settings.json
*.code-workspace

.gradle
.gradle/*
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/gradle.xml
.idea/**/assetWizardSettings.xml
.idea/**/libraries
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml.lock
.idea/modules/
.idea/artifacts
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/dictionaries
.idea/workspace.xml
.idea/libraries
.idea/codeStyles/
.idea/codeStylesSettings.xml
.idea/findbugs.xml
.idea/sonarlint.xml
.idea/jsLibraryMappings.xml
.idea/httpRequests
.idea/androidLayouts.xml
.idea/scopes
.idea/jarRepositories.xml
.idea/shelves
.idea/stacktraces.txt
.idea/version
.idea/compiler/
.idea/jarRepositories.xml
.idea/codeStyles/
.idea/inspectionProfiles
.idea/inspectionProfiles/
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
.idea/androidLayouts.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/sonarlint.xml
.idea/findbugs.xml
.idea/libraries.xml
.idea/modules.xml
.idea/runConfigurations
.idea/vcs.xml
.idea/.idea/misc.xml
